<div class="col-md-12">
    <h4 style="color: #24305E; text-align: center;
    padding-bottom: 40px; padding-top: 40px">Авторизация</h4>
</div>
<div>
    <div class="col-sm-6 my-3" style="margin: auto">
        <label class="sr-only" for="username">Username/login</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span><i class="fa fa-user"></i></span>
                </div>
            </div>
            <input type="text" class="form-control" ng-model="authInfo.username"
                   id="username" placeholder="Username">
        </div>
    </div>

    <div class="col-sm-6 my-3" style="margin: auto">
        <label class="sr-only"
               for="password">Password</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span><i class="fa fa-key"></i></span>
                </div>
            </div>
            <input type="password" class="form-control" ng-model="authInfo.password"
                   id="password" placeholder="Password">
        </div>
    </div>

    <div class="col-sm-2 my-3" style="margin: auto">
        <button type="submit" class="btn btn-block text-white" style="background-color: #374785"
        ng-click="authorisation(authInfo)">Войти</button>
    </div>
</div>