<div class="col-md-12"><br>
    <form name="contactForm" novalidate>
        <div class="form-group">
            <h4 style="color: #24305E">Обновление контактов</h4>
            <hr style="color: #24305E; background-color: #24305E"/>
            <div class="form-row">
                <div class="col">
                    <label for="restaurantAddress">Адрес:</label>
                    <input type="text" class="form-control" placeholder="Адрес ресторана"
                           id="restaurantAddress" required ng-model="contacts.address" name="address">
                    <span style="color:red" ng-show="contactForm.address.$invalid">
                        <span ng-show="contactForm.address.$error.required">
                            Поле обязательное для заполнения</span>
                </span><br>
                </div>
                <div class="col">
                    <label for="restaurantPhone">Телефон:</label>
                    <input type="text" class="form-control" id="restaurantPhone" name="phone"
                           placeholder="Номер телефона" required ng-model="contacts.phone">
                    <span style="color:red" ng-show="contactForm.phone.$invalid">
                        <span ng-show="contactForm.phone.$error.required">
                            Поле обязательное для заполнения</span>
                    </span>
                </div>
            </div><br>
            <div class="form-row">
                <div class="col">
                    <label for="restaurantEmail">Email:</label>
                    <input type="email" class="form-control" placeholder="name@example.com"
                           id="restaurantEmail" required ng-model="contacts.mail" name="mail">
                    <span style="color:red" ng-show="contactForm.mail.$invalid">
                        <span class="error" ng-show="contactForm.mail.$error.required">
                        Поле обязательное для заполнения</span>
                         <span class="error" ng-show="contactForm.mail.$error.email">
                        Неверный формат почты!</span>
                    </span>
                </div>
                <div class="col">
                    <label for="restaurantWebsite">Веб-сайт:</label>
                    <input type="text" class="form-control" id="restaurantWebsite" name="website"
                           placeholder="http://example.com" required ng-model="contacts.website">
                    <span style="color:red" ng-show="contactForm.website.$invalid">
                        <span ng-show="contactForm.website.$error.required">
                            Поле обязательное для заполнения</span>
                    </span>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="RestaurantLocation">Location:</label>
                    <input type="text" class="form-control" placeholder="Location" name="location"
                           id="RestaurantLocation" required ng-model="contacts.location">
                    <span style="color:red" ng-show="contactForm.location.$invalid">
                        <span ng-show="contactForm.location.$error.required">
                            Поле обязательное для заполнения</span>
                    </span>
                </div>
            </div>
        </div>
        <button class="btn text-white" style="background-color: #374785"
                ng-click="updateContact(contacts)"  ng-disabled="contactForm.address.$invalid ||
           contactForm.phone.$invalid || contactForm.mail.$invalid ||
           contactForm.website.$invalid || contactForm.location.$invalid">Обновить</button>
    </form>
    <br>
</div>