<div class="col-md-12"><br>
    <div class="row">
        <div class="col-md-10">
            <h4 style="color: #24305E;">Меню</h4>
        </div>
        <div class="col-md-2">
            <div style="text-align: right">
                <a class="btn text-white" style="background-color: #374785"
                   href="#/menu-form">Добавить</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr style="color: #24305E; background-color: #24305E"/>
            <div class="col-md-12" ng-show="fileLength === 0">
                <h3>Нет данных</h3>
            </div>
            <table class="table table-bordered" ng-show="fileLength !== 0">
                <thead>
                <tr class="d-flex">
                    <th  class="col-3">Фото</th>
                    <th class="col-3">Название&nbsp;<a ng-click="sort_width('name');">
                        <i class="fa fa-arrows-v" aria-hidden="true"></i></a></th>
                    <th class="col-3">Цена&nbsp;<a ng-click="sort_width('price');">
                        <i class="fa fa-arrows-v" aria-hidden="true"></i></a></th>
                    <th class="actions col-3">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr style="background-color: #A8D0E6; color: #24305E" class="d-flex"
                    ng-repeat="dish in menu | orderBy : base : reverse | limitTo : dataLimit : start()">
                    <td class="col-3">
                        <div style="width: inherit">
        <img src="https://picture-service.herokuapp.com/picture/menu/get/{{dish.pictureId}}{{token}}{{num}}"
                                 style="width: inherit; height: auto"
                                 class="img-fluid rounded" alt="..."/>
                        </div>
                    </td>
                    <td class="col-3">
                        <b>{{dish.name}}</b><br/>
                        <i>{{dish.description}}</i>
                    </td>
                    <td class="col-3"><b>{{dish.price}}</b></td>
                    <td class="col-3">
                        <a class="btn text-white" style="background-color: #374785;"
                           ng-click="editDish(dish)" href="#/update-form">
                            Редактировать</a>
                        <button class="btn text-white" style="background-color: #F76C6C;"
                           ng-click="deleteDish(dish)">Удалить</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr style="color: #24305E; background-color: #24305E"/>
        </div>

        <div class="col-md-12" ng-show="fileLength !== 0">
            <div class="col-md-6">
                <button class="btn text-white" style="background-color: #374785"
                        ng-click="prevPage()" ng-disabled="firstPage()">Назад</button>
                <span>Страница {{currentPage}} из {{pageCount}}</span>
                <button class="btn text-white" style="background-color: #374785"
                        ng-click="nextPage()" ng-disabled="lastPage()">Вперед</button>
            </div>
        </div>
    </div>
</div>
