<div class="container">
    <div class="col-md-12">
        <br>
        <div class="row">
            <div class="col-md-10">
                <h4 style="color: #24305E">Заказы</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr style="color: #24305E; background-color: #24305E"/>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Клиент</th>
                        <th>Ресторан</th>
                        <th>Статус</th>
                        <th>Дата&nbsp;<a ng-click="sort_width('price');">
                            <i class="fa fa-arrows-v" aria-hidden="true"></i></a></th>
                        <th>Блюда</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr style="background-color: #A8D0E6; color: #24305E"  ng-repeat="item in orders">
                        <td>
                            <b>{{item.customerId.firstName}}</b><br>
                            <b>{{item.customerId.lastName}}</b>
                        </td>
                        <td>
                            <b>{{item.restaurantId}}</b>
                        </td>
                        <td>
                            <i>{{item.status}}</i>
                        </td>
                        <td><b>{{item.dateCreated}}</b></td>
                        <td><b>{{item.dishes}}</b></td>

                    </tr>
                    </tbody>
                </table>
                <hr style="color: #24305E; background-color: #24305E"/>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <button class="btn text-white" style="background-color: #374785"
                            ng-click="prevPage()" ng-disabled="firstPage()">Назад</button>
                    <span>Страница {{currentPage}} из {{pageCount}}</span>
                    <button class="btn text-white" style="background-color: #374785"
                            ng-click="nextPage()" ng-disabled="lastPage()">Вперед</button>
                </div>
            </div>
        </div>
    </div>
</div>